<mat-card>
  <h2>To Do List</h2>
  <mat-card-content>
    <mat-selection-list aria-label="todos" (selectionChange)="onSelectionChange($event)" *ngIf="todoList?.length else empty">
      <mat-list-option [value]="todo.id" *ngFor="let todo of todoList">
        {{ todo.item }}
      </mat-list-option>
    </mat-selection-list>

    <form [formGroup]="form" (submit)="add()">
      <mat-form-field>
        <mat-label>To do Item</mat-label>
        <input required matInput type="text" formControlName="item">
      </mat-form-field>
      <button mat-icon-button type="submit" aria-label="add" [disabled]="form.invalid">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </mat-card-content>

</mat-card>

<ng-template #empty>
  <div class="empty">
    <img src="/assets/img/todo-no-data.svg" alt="">
    <p>No tasks yet. User the form below to create your first to do item.</p>
  </div>
</ng-template>
