<mat-card>
  <h2 class="mat-title" id="title">To Do List</h2>
  <mat-card-content *ngIf="loaded else loading">
    <mat-selection-list (selectionChange)="onSelectionChange($event)" *ngIf="todoList?.length else empty" aria-labelledby="title">
      <mat-list-option [value]="todo.id" *ngFor="let todo of todoList">
        {{ todo.item }}
      </mat-list-option>
    </mat-selection-list>

    <form [formGroup]="form" (submit)="add()">
      <mat-form-field>
        <mat-label>To do:</mat-label>
        <input required matInput type="text" formControlName="item">
      </mat-form-field>
      <button mat-icon-button type="submit" [disabled]="form.invalid" aria-label="add to do item">
        <mat-icon>add</mat-icon>
      </button>
    </form>
  </mat-card-content>

</mat-card>

<ng-template #empty>
  <div class="empty">
    <img src="assets/img/todo-no-data.svg" alt="">
    <p>No tasks yet. User the form below to create your first to do item.</p>
  </div>
</ng-template>

<ng-template #loading>
  <mat-card-content class="loading">
    <mat-spinner></mat-spinner>
    <p>Loading...</p>
  </mat-card-content>
</ng-template>
