@use '../../../assets/scss/theme';

form {
  background: theme.$primary2;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 4px 4px;
  margin-top: 1rem;
}

.mat-form-field {
  width: 100%;
  flex-grow: 1;
}

@media print {
  form { display: none; }
}
