@use "sass:map";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$dark-primary-text: #303051;
$light-primary-text: #fbfbfc;

$customPurple: mat.define-palette($mat-deep-purple);

$customGreen: mat.define-palette($mat-light-green);

$primary: #5d5d81;
$primary2: rgb(246, 246, 255);
$accent: map.get($customGreen, 600);
$accent2: #c9d5b5;
$text: #000505;
$grey: #898796;
$background: map.get($customPurple, 50);

$default-padding: 2ex 2ch;
$border: #f1efff;
$transparent: rgba(0, 0, 0, 0);

$small: 650px;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$custom-primary: mat.define-palette($customPurple);
$custom-accent: mat.define-palette($customGreen, 600, 300, 800);

// The warn palette is optional (defaults to red).
$custom-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat.define-typography-config(
  $font-family: "Source Sans Pro, sans-serif",
);
@include mat.all-component-typographies($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($custom-theme);

a:link,
a:visited,
.mat-list-base a.mat-list-item {
  color: map.get($customPurple, 400);
  text-decoration: none;
  line-height: 1.5;
  font-weight: 600;
  mat-icon {
    color: map.get($customGreen, 400);
  }
}
