@use '../../../assets/scss/theme';
.app-name {
  margin: 0;
}
.logo {
  display: inline-block;
  height: 2ex;
  vertical-align: top;
}

.header {
  padding: 2ex 2ch 0;
}

@media print {
  .header { margin-bottom: 2rem; }
}
