<h2>Accessibility Statement for <span class="basic-information website-name">To Do: Build For Accessibility Using Angular</span></h2>
<p>
	<span class="basic-information organization-name">M2D2 Enterprises</span>
	is committed to ensuring digital accessibility for people with disabilities.
	We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
</p>
<h3>Conformance status</h3>
<p>
	The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
	<span class="basic-information website-name">To Do: Build For Accessibility Using Angular</span>
	is
	<span class="basic-information conformance-status" data-printfilter="lowercase">fully conformant</span>
	with
	<span class="basic-information conformance-standard"><span data-negate="">WCAG 2.1 level AA</span>.</span>
	<span>
	<span class="basic-information conformance-status">Fully conformant</span>
	means that
	<span class="basic-information conformance-meaning">the content fully conforms to the accessibility standard without any exceptions</span>.
</span>
</p>
<h3>Feedback</h3>
<p>
	We welcome your feedback on the accessibility of
	<span class="basic-information website-name">To Do: Build For Accessibility Using Angular</span>.
	Please let us know if you encounter accessibility barriers on
	<span class="basic-information website-name">To Do: Build For Accessibility Using Angular</span>:
</p>
<ul class="basic-information feedback h-card">
	<li>
	E-mail:
	<a class="email u-email" href="mailto:martine@m2d2.co">martine@m2d2.co</a>
</li>
</ul>
<hr noshade="noshade">
<p>
	This statement was created on
	<span class="basic-information statement-created-date">12 November 2020</span>
	using the <a href="https://www.w3.org/WAI/planning/statements/">W3C Accessibility Statement Generator Tool</a>.
</p>
