<nav class="nav">
  <ul>
    <li>
      <a [routerLink]="['']" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
        Home
    </a>
    </li>
    <li>
      <a [routerLink]="['todo']" routerLinkActive="router-link-active">
        <mat-icon>list</mat-icon>
        To Do List
      </a>
    </li>
    <li>
      <a [routerLink]="['completed']" routerLinkActive="router-link-active">
        <mat-icon>done</mat-icon>
        Completed To Dos
      </a>
    </li>
    <li>
      <a [routerLink]="['a11y']" routerLinkActive="router-link-active">
        <mat-icon>accessibility</mat-icon>
        Accessibility Statement
      </a>
    </li>
  </ul>
</nav>
