<div class="nav">
  <ul>
    <li>
      <a [routerLink]="['']" routerLinkActive="router-link-active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['todo']" routerLinkActive="router-link-active">
        <mat-icon>list</mat-icon>
        <span>To do</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['completed']" routerLinkActive="router-link-active">
        <mat-icon>done</mat-icon>
        <span>Completed</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['resources']" routerLinkActive="router-link-active">
        <mat-icon>help</mat-icon>
        <span>Resources</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['a11y']" routerLinkActive="router-link-active">
        <mat-icon>accessibility</mat-icon>
        <span>Accessibility Statement</span>
      </a>
    </li>
  </ul>
</div>
