@use '../../../assets/scss/theme';
.nav {
  margin-bottom: 1rem;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}
a {
  display: flex;
  align-items: center;
  padding: theme.$default-padding;
  .mat-icon { margin-right: .25ch; }
}

