<div class="nav">
  <ul>
    <li>
      <mat-icon [routerLink]="['']" routerLinkActive="router-link-active">home</mat-icon>
    </li>
    <li>
      <mat-icon [routerLink]="['todo']" routerLinkActive="router-link-active">list</mat-icon>
    </li>
    <li>
      <mat-icon [routerLink]="['completed']" routerLinkActive="router-link-active">done</mat-icon>
    </li>
    <li>
      <mat-icon [routerLink]="['resources']" routerLinkActive="router-link-active">help</mat-icon>
    </li>
    <li [routerLink]="['a11y']" routerLinkActive="router-link-active">
      <mat-icon>accessibility</mat-icon>
    </li>
  </ul>
</div>
