<mat-card>
  <div class="mat-title title">Resources</div>
  <mat-card-content>
    <mat-action-list>
      <ng-container *ngFor="let cat of resources; let i = index">
        <div matSubheader>{{ cat.categoryName }}</div>
        <button mat-list-item *ngFor="let rc of cat.links" (click)="onNavigate(rc.source)">
          <mat-icon color="accent" matListIcon>link</mat-icon>
          <span>{{ rc.label }}</span>
        </button>
        <mat-divider *ngIf="i < resources?.length - 1"></mat-divider>
      </ng-container>
    </mat-action-list>
  </mat-card-content>
</mat-card>

