@use './assets/scss/theme';

//  Fonts

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(assets/fonts/material-icons/MaterialIcons-Regular.ttf) format('opentype');
  font-display: block;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro'),
       url(assets/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'),
       url(assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: local('Source Sans Pro'),
       url(assets/fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf) format('opentype');
  font-display: swap;
}

.material-icons {
 font-family: 'Material Icons';
 font-weight: normal;
 font-style: normal;
 font-size: 24px;  /* Preferred icon size */
 display: inline-block;
 line-height: 1;
 text-transform: none;
 letter-spacing: normal;
 word-wrap: normal;
 white-space: nowrap;
 direction: ltr;

 /* Support for all WebKit browsers. */
 -webkit-font-smoothing: antialiased;
 /* Support for Safari and Chrome. */
 text-rendering: optimizeLegibility;

 /* Support for Firefox. */
 -moz-osx-font-smoothing: grayscale;
}

//  Styles

* { box-sizing: border-box; }

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: theme.$background;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  margin: 0 auto;
  max-width: 955px;
}

.empty {
  img {
    display: block;
    width: auto;
    height: 100px;
    margin: 4ex auto;
  }
  p {
    text-align: center;
    max-width: 26ch;
    margin: 2ex auto;
  }
}

.loading {
  text-align: center;
  .mat-spinner { margin: 2ex auto; }
}

@media screen and (min-width: theme.$small) {
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    img { margin: 4ex 2ch }
    p { margin: 4ex 0 }
  }
}
